@media screen and (max-width:480px){
  #header{
    margin-bottom: 5px;
    height:40px;
   }
  .logo {
    height: 32px;
    padding-left:5px;
    padding-top: 5px;
   }
  .student_name{
    font-size: 16px;
    font-weight:100;
    padding-top:6px;

  }
  .course{
    font-size: 8px;
  }

  .title{
    margin-left:auto;
    margin-right: auto;
    font-size: 18px;
    text-align: center;
  }
  .braila_logo,.traian_square_image,.polaroid,.personalities_image,.combine,.handball_image{
    max-width:90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width:481px) and (max-width:749px){
  .present_time,.old_times,.personalities,.economy,.sport{
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width:750px) and (max-width:949px){
  .present_time,.old_times,.personalities,.economy,.sport{
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-wrap: wrap;
  }
  .braila_logo,.traian_square_image,.polaroid,.combine,.handball_image{
    margin: 0;
    width:45%;
    padding:5px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .title{
    width:100%;
    font-size: 24px;
    text-align: center;
  }
  .description{
    margin:0;
    float:right;
    width:50%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width:950px){
  body{
    max-width:950px;
    margin-left: auto;
    margin-right: auto;
  }
  .present_time,.old_times,.personalities,.economy,.sport{
    margin-bottom: 50px;
  }
  .braila_logo,.polaroid,.traian_square_image,.combine,.handball_image,.description{
    margin: auto;
    padding-bottom: 10px;
  }
  .title{
    width:100%;
  }
  .present_time{
    order:1;
    width:100%;
    display:flex;
    flex-wrap: wrap;
  }
  .economy{
    order:2;
    width:50%;
  }
  .sport{
    order:3;
    width:50%;
  }
  .personalities{
    order:4;
    width:50%;
  }
  .old_times{
    order:5;
    width:50%;
  }
}
